.logo {
  width: 180px;
  height: 180px;
  margin-top: 18px;
}

.nb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 14px;
 
}

.topic-container {
  margin-right: 42px;
  margin-left: 42px;
  background-color: rgb(232, 234, 236);
  margin-top: 20px;
  margin-bottom: 50px;
}

button{
  background-color: rgb(133, 238, 238);
  border-style: none;
  border-radius: 10px;
  font-size: medium;
  
}